<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MotorcycleMapper.javaをnamespaceで指定する -->
<mapper namespace="jp.co.study.sample.motocatalog.mappers.MotorcycleMapper">
    <resultMap id="motorcycleMap" type="jp.co.study.sample.motocatalog.model.Motorcycle" autoMapping="true">
        <association property="brand" javaType="jp.co.study.sample.motocatalog.model.Brand" autoMapping="true"></association>
    </resultMap>
    <!-- 
    MotorcycleMapper.javaのメソッドとidを一致させる 
    SQL文を実行したときの結果の型がMotorcycle.javaと一致するようにする
    -->
    <select id="selectByCondition" resultMap="motorcycleMap">
        SELECT
            m_motorcycle.motorcycle_no,
            m_motorcycle.motorcycle_name,
            m_motorcycle.cylinders,
            m_motorcycle.cooling,
            m_motorcycle.price,
            m_motorcycle.comment,
            m_brand.brand_id,
            m_brand.brand_name
        FROM
            m_motorcycle 
            LEFT OUTER JOIN	m_brand
                ON m_motorcycle.brand_id = m_brand.brand_id
        <!--
        WHERE
            m_brand.brand_id = #{brandId} 

            →SearchCondition.javaで定義したフィールド名を「#{}」に入れることで変数の値の参照ができる
         -->
        <!-- 条件が複数ある場合 -->
        <where>
            <if test="brandId != null">
                AND m_brand.brand_id = #{brandId}
            </if>
            <if test="keyword != null">
                <!-- AND m_motorcycle.motorcycle_name = #{keyword} -->
                AND m_motorcycle.motorcycle_name LIKE CONCAT("%", #{keyword}, "%")
            </if>
        </where>
        ORDER BY
            motorcycle_no;
    </select>

    <select id="selectByMotorcycleNo" resultMap="motorcycleMap">
        SELECT
            m_motorcycle.motorcycle_no,
            m_motorcycle.motorcycle_name,
            m_motorcycle.seat_height,
            m_motorcycle.cylinders,
            m_motorcycle.cooling,
            m_motorcycle.price,
            m_motorcycle.comment,
            m_motorcycle.version,
            m_motorcycle.insert_date,
            m_motorcycle.update_date,
            m_brand.brand_id,
            m_brand.brand_name
        FROM
            m_motorcycle 
            LEFT OUTER JOIN	m_brand
                ON m_motorcycle.brand_id = m_brand.brand_id
        WHERE
            m_motorcycle.motorcycle_no = #{motorcycleNo} 
    </select>

    <select id="selectNewMotorcycleNo" resultType="Integer">
        SELECT
            MAX(m_motorcycle.motorcycle_no) + 1
        FROM
            m_motorcycle
        FOR UPDATE <!-- SELECT文で取得した行に対してロックをかけるための構文 -->
    </select>

    <insert id="insert" parameterType="jp.co.study.sample.motocatalog.model.Motorcycle">
        INSERT INTO
            m_motorcycle 
            (
                motorcycle_no,
                motorcycle_name,
                seat_height,
                cylinders,
                cooling,
                price,
                comment,
                version,
                insert_date,
                brand_id
            )
        VALUES
            (
                #{motorcycleNo},
                #{motorcycleName},
                #{seatHeight},
                #{cylinders},
                #{cooling},
                #{price},
                #{comment},
                1,
                NOW(),
                #{brand.brandId}
            )
    </insert>
</mapper>
<!-- https://mybatis.org/mybatis-3/ja/getting-started.htmlを参照 -->