<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MotorcycleMapper.javaをnamespaceで指定する -->
<mapper namespace="jp.co.study.sample.motocatalog.mappers.MotorcycleMapper">
    <!-- 
        MotorcycleMapper.javaのメソッドとidを一致させる 
        SQL文を実行したときの結果の型がMotorcycle.javaと一致するようにする
        -->
    <select id="selectAll" resultType="jp.co.study.sample.motocatalog.model.Motorcycle">
        select * from m_motorcycle
    </select>
</mapper>
<!-- https://mybatis.org/mybatis-3/ja/getting-started.htmlを参照 -->